# gitlab 
SONAR_HOST_URL=https://sonar.example
UBI8_PACKAGE_REPO=artifactory.local/artifactory
CONAN_ROOT=artifactory/api/conan
ARTIFACT_REPO_USER_ID=repo-user
ARTIFACT_REPO_API_KEY=repo-api-key
DOCKER_AUTH_CONFIG='{"auths": {"https://artifactory.local" : {"auth": "creds-hash","email": "you@place.edu"}}}'
ARTIFACT_REPO_URL=artifactory.local
ARTIFACT_REPO_HOSTNAME=artifactory.local
CONTAINER_REPO=docker-repo/project
ARTIFACT_REPO_ROOT_DIR=artifactory/group-project
PYPI_ROOT=artifactory/api/pypi
REPO_TOKEN=repo-token 
GROUP_API_USER=api-user
GROUP_API_TOKEN=group-api-token
CI_SERVER_HOST=gitlab.org
IMAGE_REGISTRY_IDENT=container
DSO_ENVIRONMENT=aws
# local overrides
ARTIFACT_REPO_USER_ID=override-repo-user-id
ARTIFACT_REPO_API_KEY=override-api-key
DOCKER_AUTH_CONFIG={"auths": {"https://artifactory.local" : {"auth": "creds-hash","email": "you@place.edu"}}}
